<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Exitoso - MediCitas</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
<h1>Paciente Registrado Exitosamente</h1>
<p>Sus datos han sido registrados en el sistema:</p>

<p>Nombre: <span th:text="${nombre}"></span></p>
<p>Cédula: <span th:text="${cedula}"></span></p>
<p>Fecha de nacimiento: <span th:text="${fechaNacimiento}"></span></p>
<p>Teléfono: <span th:text="${telefono}"></span></p>
<p>Correo: <span th:text="${correo}"></span></p>
</body>
</html>